{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
  <h1>Dashboard</h1>
  <p>
    Welcom to your dashboard.
    You can <a href="{% url 'edit' %}">edit your profile</a>
    or <a href="{% url 'password_change' %}">change your password</a>.
  </p>
  
  {% if request.user.is_authenticated %}
    <!-- Photo for profile -->
    {% if request.user.profile.photo %}
      <p><img src="{{ user.profile.photo.url }}" alt="Photo"></p>
    {% else %}
      <!-- Default photo -->
      <p><img src="{% static 'images/default_img.png' %}"></p>
    {% endif %}

    <p>Username: {{ request.user.username }}</p>
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>
    
    {% if request.user.profile.date_of_birth %}
      <p>Date of birth: {{ request.user.profile.date_of_birth }}</p>
    {% endif %}

  {% endif %}
{% endblock content %}