### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
my_env/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
*.json
.env
db.sqlite3
*.crt
*.key
*.sh

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
